{% extends 'base.html.twig' %}

{% block title  property.titre%}

{% block body %}

<table>

    <tr>

    <td>Nom du bien</td>
<td><a href="{{ url('property.show' , {id: contact.property.id,slug: contact.property.slug}) }}">{{ contact.property.titre }}</a> </td>

    </tr>

    <tr>

        <td>Prénom</td>
        <td>{{ contact.lastname }}</td>

    </tr>

    <tr>

        <td>Téléphone</td>
        <td>{{ contact.phone }}</td>

    </tr>

    <tr>

        <td>Email</td>
        <td>{{ contact.email }}</td>

    </tr>


    <tr>

        <td>Message</td>
        <td>{{ contact.message |nl2br }}</td>

    </tr>


</table>

{% endblock %}